
<body>
  <div class="main">
  <h1>Books</h1>


  <table>
    <tr>
      <th>Title</th>
      <th>Body</th>
    </tr>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.body %></td>
        <td><%= link_to 'Show', book %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book_path(book.id), method: :delete %></td>
      </tr>
    <% end %>
  </table>

<h2>New book</h2>

<% if @book.errors.any? %>
  <%= @book.errors.count %>件のerrorsが発生しました
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: Book.new  do |f| %>


<div class="title">
  <p class="bookname">Title</p>
  <%= f.text_field :title %>

  </div>

  <div class="body">

  <p class="bookname">Body</p>
  <%= f.text_area :body %>
  <br>

  </div>
  <%= f.submit 'Create Book' %>
<% end %>

</div>

</body>
</html>


